:root {
  --clr-dark-blue: hsl(238, 29%, 16%);
  --clr-dark-gray-blue: hsl(240, 6%, 50%);
  --clr-darker-gray-blue: hsl(237, 12%, 33%);
  --clr-soft-red: hsl(14, 88%, 65%);
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
  --divider-gray-blue: hsl(240, 5%, 91%);
  --ff-primary: "Kumbh Sans", sans serif;
  --fs-primary: 0.86rem; /* 12px */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  background: linear-gradient(
    to bottom,
    var(--gradient-violet),
    var(--gradient-blue)
  );
  min-height: 100vh;
  /* display: grid;
  place-items: center; */
  transition: all 0.4s ease;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 80rem;
  margin: auto;
  width: 100%;
  padding: 10rem 4rem;
  transition: all 0.4s ease-in;
}

.card {
  background-color: #fff;
  padding: 5rem 4rem;
  border-radius: 1.2rem;
  position: relative;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.4s ease;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/bg-pattern-mobile.svg") no-repeat;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: -1;
}

.image-container {
  position: absolute;
  top: -2%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.image-desktop-container {
  display: none;
}

.box-illustration {
  display: none;
}

.card > h1 {
  margin-top: 7rem;
  text-align: center;
  margin-bottom: 2rem;
}

.text-content {
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease-in;
}

.text-box {
  margin: 0.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--divider-gray-blue);
  transition: all 0.4s ease-in;
}

.panel {
  display: none;
  overflow: hidden;
  padding: 0 0.5rem;
  animation: goUp 0.4s ease;
  transition: all 0.4s ease-in;
  line-height: 1.5;
}

@keyframes goUp {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.active {
  transform: rotate(180deg);
  transition: all 0.2s ease-in;
}

.text-active {
  font-weight: bold;
  font-size: 1em;
}

.accordion {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.4s ease;
  cursor: pointer;
}

.accordion img {
  height: 10px;
}

@media screen and (min-width: 1024px) {
  .card {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: flex-end;
    /* overflow: hidden; */
    padding: 5rem;
    padding-left: 0;
    font-size: 1.125rem;
    width: 100%;
    height: 38rem;
    background: fff;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 720px;
    background-position: -100px;
    background-attachment: fixed;
  }

  .card::before {
    display: none;
  }

  .image-container {
    display: none;
  }

  .img-wrapper {
    position: relative;
    width: 60%;
  }

  .image-desktop-container {
    background-image: url("./images/illustration-woman-online-desktop.svg");
    display: block;
    /* width: 100%; */
    height: 100%;
    background-repeat: no-repeat;
    background-position: -80px 0;
  }

  .box-illustration {
    display: block;
    position: absolute;
    top: 130px;
    left: -93px;
  }

  .card-box {
    width: 50%;
  }

  .card-box > h1 {
    margin: 1em 0;
  }

  .accordion {
    font-size: 0.8rem;
  }

  .panel {
    font-size: 0.8rem;
  }
}
