:root {
  --clr-dark-blue: hsl(238, 29%, 16%);
  --clr-dark-gray-blue: hsl(240, 6%, 50%);
  --clr-darker-gray-blue: hsl(237, 12%, 33%);
  --clr-soft-red: hsl(14, 88%, 65%);
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
  --divider-gray-blue: hsl(240, 5%, 91%);
  --ff-primary: "Kumbh Sans", sans serif;
  --fs-primary: 0.86rem; /* 12px */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  background: linear-gradient(
    to bottom,
    var(--gradient-violet),
    var(--gradient-blue)
  );
  min-height: 100vh;
  /* display: grid;
  place-items: center; */
  transition: all 0.4s ease;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 56rem;
  margin: auto;
  width: 100%;
  padding: 10rem 4rem;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.2rem;
  position: relative;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/bg-pattern-mobile.svg") no-repeat;
  background-position: top center;
  z-index: -1;
}

.image-container {
  position: absolute;
  top: -2%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.card > h1 {
  margin-top: 7rem;
  text-align: center;
  margin-bottom: 2rem;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.text-box {
  margin: 0.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--divider-gray-blue);
}

.panel {
  display: none;
  padding: 1rem 0;
  animation: goUp 0.4s ease;
}

@keyframes goUp {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.active {
  transform: rotate(180deg);
}

.accordion {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}
